<div class="slide image-slide">
	<div class="container">
        <h1>目的は？</h1>
        <div class="center">
            <div class="message-block"><div></div><span>BARでの会話<br/>をもっと楽しめる</span></div>
            <div class="message-block"><div></div><span>楽しい空間を光と<br/>ARで<br/>創り出します</span></div>
            <div class="message-block"><div></div><span>草食化された男子<br/>に女性と会話を<br/>弾むチャンスを与える</span></div>
            <div class="message-block"><div></div><span>バーの売り上げと<br/>リピーターを増やす</span></div>
        </div>
    </div>
</div> 