<div class="slide image-slide">
	<div class="container">
        <h1>目的は？</h1>
        <div class="center business-model">
            <div class="message-block"><div></div>
                <span class="large">ターゲット層</span>
                <span class="body">LINE, Instagramをよく使う<br/>20代～30代が利用するBAR</span>
            </div>
            <div class="message-block"><div></div>
                <span class="large">マーケットサイズ</span>
                <span class="body">BAR-NAVI (SUNTORY)調べ<br/>
                    全国：6711店舗<br/>
                    東京：1973店舗<br/>
                    大阪：921店舗
                </span>
            </div>

            <div class="message-block"><div></div>
                <span class="body">店舗導入価格</span>
                <span>本体：無料
                    アプリ：無料<br/>
                </span>
            </div>

            <div class="message-block"><div></div>
                <span class="body">収益モデル</span>
                <span>AR表示回数×5円<br/>
                    (店舗側課金)<br/>
                    ＋<br/>
                    キャラクター広告費<br/>
                </span>
            </div>
        </div>
    </div>
</div> 