<div class="slide image-slide">
	<div class="container">
        <h1>FIVE主要メンバー紹介</h1>
        <table class="profile">
            <tbody>
                <tr>
                    <td>
                        <span class="name">リーウィー</span>
                        <img src="/img/profile-likwee.jpg">
                        <div>
                            <span>主な役割</span>
                            <ul>
                                <li>サービス企画</li>
                                <li>アプリ開発(Web,スマホ)</li>
                                <li>データベース構築</li>
                            </ul>
                        </div>
                        <div>
                            <span>職業：Webエンジニア歴3年<br/>マレーシア出身<br/>【言語】</span>
                            <ul>
                                <li>英語</li>
                                <li>中国語</li>
                                <li>日本語</li>
                            </ul>
                        </div>
                    </td>

                    <td>
                        <span class="name">石井辰憲</span>
                        <img src="/img/profile-ishii.jpg">
                        <div>
                            <span>主な役割</span>
                            <ul>
                                <li>サービス企画</li>
                                <li>Webデザイン</li>
                                <li>PR活動</li>
                            </ul>
                        </div>
                        <div>
                            <span>元ダンサー<br/>気が付いたらオーストラリアで<br/>建築業に従事</span>
                            <ul>
                                <li>英語</li>
                                <li>日本語</li>
                            </ul>
                        </div>
                    </td>

                    <td>
                        <span class="name">鈴木光裕</span>
                        <img src="/img/profile-suzuki.jpg">
                        <div>
                            <span>主な役割</span>
                            <ul>
                                <li>ハード設計・開発</li>
                                <li>ソフト設計・開発</li>
                                <li>その他技術マネジメント</li>
                            </ul>
                        </div>
                        <div>
                            <span>ハードエンジニア歴20年<br/>C,C#,javascript,php言語をマスター</span>
                            <ul>
                                <li>英語</li>
                                <li>日本語</li>
                            </ul>
                        </div>
                    </td>


                </tr>
            </tbody>
        </table>

        <span class="large">私たちが全力で頑張ります、宜しくお願い致します！</span>
    </div>
</div> 